{% load custom_tags %}
<link rel="stylesheet" href="/static/css/calories-tracking/style.css">

<body class="background-img">
    {% if user.is_authenticated %}

        <form method="get">
            <ul class="header">
                <li>
                    <button type="submit" name="Log Out">
                            Log out
                    </button>
                </li>

                <li>
                    <button type="submit" name="Home">
                            Home
                    </button>
                </li>
            </ul>
        </form>
        <div class="left-form">
            <form style="display: inline;" method="get">
                {% csrf_token %}
                {{ form_filter.as_p }}
                <input formnovalidate type="submit" value="Show All" name="All">
                <input type="submit" value="Filter" name="Filter">
            </form>
        </div>

        <div class="right-form">
            <form class="form-calories" method="get">
                {% csrf_token %}
                {{ form_calories.as_p }}
                <input type="submit" value="Add" name="Add">
                <input formnovalidate type="submit" value="Clear" name="Clear All">
            </form>
        </div>

        <div class="right-table">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Calories</th>
                    <th>Proteins(g)</th>
                    <th>Carbohydrates(g)</th>
                    <th>Fats(g)</th>
                </tr>

                {% for instance in queryset %}
                    <tr>
                        <td>{{ instance.name }}</td>
                        <td>{{ instance.calories }}</td>
                        <td>{{ instance.proteins }}</td>
                        <td>{{ instance.carbohydrates }}</td>
                        <td>{{ instance.fats }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <table id="table">
            <tr>
                <th>Calories</th>
                <th>Proteins(g)</th>
                <th>Carbohydrates(g)</th>
                <th>Fats(g)</th>
            </tr>
            <tr>
                    <td>{{ total_calories }}</td>
                    <td>{{ total_proteins }}</td>
                    <td>{{ total_carbohydrates }}</td>
                    <td>{{ total_fats }}</td>
            </tr>

        </table>
        <table id="table">
            <tr>
                <th>Index</th>
                <th>Name</th>
                <th>Calories(g)</th>
                <th>Proteins(g)</th>
                <th>Carbohydrates(g)</th>
                <th>Fats(g)</th>
                <th>Quantity(g)</th>
            </tr>

            {% for product, quantity in product_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.calories|quantity_converter:quantity }} </td>
                    <td>{{ product.proteins|quantity_converter:quantity }}</td>
                    <td>{{ product.carbohydrates|quantity_converter:quantity }}</td>
                    <td>{{ product.fats|quantity_converter:quantity }}</td>
                    <td>{{ quantity }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>You are not logged in</h2>
        <h2>Click <a href="{% url 'login' %}">here</a> to log in.</h2>
        <h2>Click <a style="color: red;" href="{% url 'register' %}">here</a> to register</h2>
    {% endif %}
</body>