{% load static %}
<link rel="stylesheet" href="/static/css/home/style.css">

<body class="background-img">
    <form method="GET">
        <ul>
            {% if user.is_authenticated %}
                <li>
                    <button formaction="logout" type="submit">
                        Log out
                    </button>
                </li>

                <li>
                    <button formaction="calories-counter" type="submit">
                        Products
                    </button>
                </li>
            {% else %}

                <li>
                    <button formaction="register" type="submit">
                        Register
                    </button>

                </li>

                <li>
                    <button formaction="login" type="submit">
                        Log in
                    </button>
                </li>

            {% endif %}
        </ul>
    </form>
    {% if user.is_authenticated %}
        <p class="title">Calories Tracking</p>
        <div class="project-info">
            <p>First-name: Rares-Mihai</p>
            <p>Last-name: Paltineanu</p>
            <p>Professor: Marius Chincisan</p>
        </div>
    {% else %}
        <p class="unregistered-account">
            You are not logged in
            <br>
            Create an account by pressing the register button or log in with an existing account
        </p>

    {% endif %}
</body>
