<style>
    li button:hover {
        background-color: purple;
    }
    li {
        float: right;
    }
    li button {
        display: block;
        font-size: 25px;
        margin: 10px;
        background-color: green;
    }

    ul {
        list-style-type: none;
        overflow: auto;
        background-color: chocolate;
    }

    button {
        padding: 0;
        border: none;
        font-size: 25px
    }
</style>

<form action="login" method="GET">
    <ul>
        {% if user.is_authenticated %}
            <li>
                <button type="submit">
                    Log out
                </button>
            </li>

            <li>
                <button type="submit" formaction="products-list" >
                    Products
                </button>
            </li>
        {% else %}

            <li>
                <button type="submit" formaction="register">
                    Register
                </button>

            </li>

            <li>
                <button type="submit">
                    Log in
                </button>
            </li>

        {% endif %}


        <li>
            <button type="submit" formaction="">
                Home
            </button>
        </li>
    </ul>
</form>

{% if not user.is_authenticated %}
    <p style="text-align: center; font-size: 40px; color: red;">
        You are not logged in
        <br>
        Create an account by pressing the register button or log in with an existing account
    </p>
{% endif %}
