<h1>Login</h1>
<link rel="stylesheet" href="/static/css/authenticate/style.css">
<body class="background-img">
<form method="post">
    {% csrf_token %}

    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS or message.level == DEFAULT_MESSAGE_LEVES.INFO%}
            <p style="color: green">{{ message }}</p>
        {% else %}
            <p style="color: red">{{ message }}</p>
        {% endif %}
    {% endfor %}
    {{ form.as_p }}

    <input type="submit" value="Login">
    <input formnovalidate type="submit" value="Register" name="Register">

</form>
</body>
