{% if not user.is_authenticated %}
    <h2>You are not logged in</h2>
    <h2>Click <a href="{% url 'login' %}">here</a> to log in.</h2>
    <h2>Click <a style="color: red;" href="{% url 'register' %}">here</a> to register</h2>

{% else %}

    {% if queryset %}
        <!--
        <form method="post">
            <label>
                Proteins
                <input type="checkbox" name="Proteins" checked="checked">
            </label>
            <br>

            <label>
                Fats
                <input type="checkbox" value="See fats" name="Fats" checked="checked">
            </label>
            <br>

            <label>
                Carbohydrates
                <input type="checkbox" value="See carbohydrates" name="Carbohydrates" checked="checked">
            </label>
            <br>
        </form>
        -->
        <ul style="list-style-type: circle">
        {% for instance in queryset %}
            <li>
                <label>Name: </label>
                {{ instance.name }}

                <label>Proteins: </label>
                {{ instance.proteins }}

                <label>Fats: </label>
                {{ instance.fats }}

                <label>Carbohydrates: </label>
                {{ instance.carbohydrates }}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>There are no products for the moment!</p>
    {% endif %}
{% endif %}