{% if not user.is_authenticated %}
    <h2>You are not logged in</h2>
    <h2>Click <a href="{% url 'login' %}">here</a> to log in.</h2>
    <h2>Click <a style="color: red;" href="{% url 'register' %}">here</a> to register</h2>

{% else %}

    {% if queryset %}
        <ul>
        {% for instance in queryset %}
            <li>
                instance.name
                <label>Proteins:</label>
                instance.proteins
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>There are no products for the moment!</p>
    {% endif %}
{% endif %}